<div class="container faq">
    <h3> Frequently Asked Questions (FAQ) </h3>
    <br>

    <h4> How does the Ladrope measurement process work? </h4>
    <p> At Ladrope, the measurement process makes use of the video you uploaded. This video is processed by our methods to produce your precise physical measurement. This method has proven to be very accurate. </p>
    <br>

    <h4> Who makes the clothing? </h4>
    <p> The clothing are made by professional tailors who we have assessed their competence and capacity to produce any design they posted. </p> 
    <br>

    <h4> What do I do if I'm not happy with the way my order fits? </h4>
    <p> We have a 100% remake or refund guarantee. All you have to do is contact us within three working days of receiving the order. </p>
    <br>

    <h4> Are there any options available that are not on the app right now? </h4>
    <p> All of our available options are only on the iOS and Android app. </p>
    <br>

    <h4> How long will it take to receive my order? </h4>
    <p> Every design has a specific production time and you can find it on the last slide of the design. We can assure that your order will be delivered within the specified time. If otherwise we will contact you and let you know ahead of time. </p>
    <br>

    <h4> How much does delivery cost? </h4>
    <p> Shipping is free if you are within Lagos. </p>
    <br>

    <h4> What about international orders? </h4>
    <p> International orders are still being processed, but the individual will bear the logistics involved in delivering outside Nigeria. </p>
    <br>

    <h4> How do I place an order? </h4>
    <p>Please download the Android or iOS app to get measured. You can order only on the app. </p>
    <br>

    <h4> How do I know my order is been processed? </h4>
    <p> Once you place an order, we start out immediately to process the order. Your orders can be found on the order tab of your app. If you click on the order, you will get full information about the order, the ordering date, the delivery date, and the status. </p>
    <br>

    <h4> I can't find the information that I need. What should I do? </h4>
    <p> Please contact customer support at info@ladrope.com </p>
    <br>

  </div>
