
<div id="footer" class="footer">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-4">
                 <h4 class="wow fadeInUp">Contact Us</h4>
                 <p><i class="fa fa-home" aria-hidden="true"></i> Suite D94 Asset Corp Plaza, Obafemi Awolowo Way, Ikeja. Lagos State.</p>
                 <p><i class="fa fa-envelope" aria-hidden="true"></i> support@ladrope.com</p>
                 <p><i class="fa fa-phone" aria-hidden="true"></i> +2347030942828</p>
                 <p><i class="fa fa-globe" aria-hidden="true"></i> www.ladrope.com</p>
             </div>
             <div class="col-lg-4 col-md-4">
                 <h4>About</h4>
                 <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                 <p><i class="fa fa-square-o" aria-hidden="true"></i> <a routerLink="/privacy">Privacy</a></p>
                 <p><i class="fa fa-square-o" aria-hidden="true"></i> <a routerLink="/terms">Terms and Conditions</a></p>
             </div>
             <div class="col-lg-4 col-md-4">
                 <h4>Stay in touch</h4>
                 <a href="https://www.facebook.com/ladrope" target="blank"><i class="social fa fa-facebook" aria-hidden="true"></i></a>
                 <a href="https://www.twitter.com/ladrope" target="blank"><i class="social fa fa-twitter" aria-hidden="true"></i></a>
                 <a href="https://www.linkedin.com/company/ladrope" target="blank"><i class="social fa fa-linkedin" aria-hidden="true"></i></a>
                 <i class="social fa fa-instagram" aria-hidden="true"></i>
                 <i class="social fa fa-youtube" aria-hidden="true"></i><br>
                 <form [formGroup]="newsForm" (ngSubmit)="subscribe()">
                <input type="email" placeholder="Subscribe For Updates" formControlName='email'><button class="btn btn-success">Subscribe</button>
                </form>
             </div>
         </div>
     </div>
 </div>
