.carousel-nav-list__item--current{
   background-color: rgb(0,74,0);
    opacity: 1;
}

.content{
	margin: 20px;
	color: rgb(0,74,0);
	border: 2px solid rgb(0,74,0);
}

.header {
	padding: 5px;
	font-size: 1.9rem;
}

.right{
	float: right;
	width: 50%;
	padding-top: 20px
}