<div class='content'>
	<div class=''>	
			<div class='right'>
				<div class='header'>Name: <span>{{cloth.name}}</span></div>
				<div class='header'>Price: <span>NGN{{cloth.price}}.00</span></div>
				<div class='header'>Designer: <span>{{cloth.label}}</span></div>
				<div class='header'>Production time: <span>{{cloth.time}} days</span></div>
				<div class='header'><span>{{cloth.likes}} likes</span></div>
				<div class='header'><span>{{cloth.rating}} star Rating</span></div>
				<button (click)='back()' class='btn'>Go back</button>
			</div>
			<div class='carousel'>
  				<carousel [sources]="imageSources" [config]="config"></carousel>
			</div>
	</div>
			
</div>
