	.content{
		margin: 20px;
		color: rgb(0,74,0);
		border: 2px solid rgb(0,74,0);
		max-width: 60%;
		background-color: white;
	}

	.header {
		padding: 5px;
		font-size: 1.9rem;
	}

	.right{
		float: right;
		width: 40%;
		padding-top: 20px;
		padding: 10px;
	}

	.btn{
		color: white;
		background-color: rgb(0,74,0);
	}

	span {
		font-weight: bold;
	}

	img {
		max-height: 200px
	}

	.date {
		color: red;
	}