<div class='content'>
	<div>	
			<div class='right'>
				<div class='header'>Name: <span>{{order.name}}</span></div>
				<div class='header'>Price: <span>NGN{{order.price}}.00</span></div>
				<div class='header date'>Delivery Date: <span>{{order.tailorDate | date: 'dd/MM/yyyy'}}</span></div>
				<button (click)='back()' class='btn'>Go back</button>
			</div>
			<div class='orderImage'>
  				<img src="{{order.image1}}">
			</div>
	</div>
</div>

<div class='measurement'>
	<h3>Measurement Details</h3>
	<div class= 'row'>
		<div class="clearfix visible-sm"></div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/belly.jpg">
				<p>Belly: 23inc</p>
			</div>
		</div>
		
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/waist.jpg">
				<p>Waist: 40inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/fullshoulder.jpg">
				<p>Shoulder: 23inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/chest.jpg">
				<p>Chest: 27inc</p>
			</div>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/neck.jpg">
				<p>Neck: 12inc</p>
			</div>
		</div>
		
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/head.jpg">
				<p>Head: 14inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/burst.jpg">
				<p>Burst: 26inc</p>
			</div>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/sleeve.jpg">
				<p>Sleeve: 21inc</p>
			</div>
		</div>
		
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/hips.jpg">
				<p>Hips: 40inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/fullback.jpg">
				<p>Fullback: 32inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/trouserLength.jpg">
				<p>Trouser Length: 42inc</p>
			</div>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/thigh.jpg">
				<p>Thigh: 23inc</p>
			</div>
		</div>
		
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/wrist.JPG">
				<p>Wrist: 12inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/ankle.jpg">
				<p>Ankle: 13inc</p>
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3 pad'>
			<div class='card'>
				<img src="assets/images/size/bicep.jpg">
				<p>Bicep: 16inc</p>
			</div>
		</div>
	</div>
</div>
