<div class='content'>
	<div>	
			<div class='right'>
				<div class='header'>Name: <span>{{order.name}}</span></div>
				<div class='header'>Price: <span>NGN{{order.price}}.00</span></div>
				<div class='header date'>Delivery Date: <span>{{order.date | date: 'dd/MM/yyyy'}}</span></div>
				<button (click)='back()' class='btn'>Go back</button>
			</div>
			<div>
  				<img src="{{order.image1}}">
			</div>
	</div>
</div>

<div class=''>
	<div class= 'row'>
		<div class="clearfix visible-sm"></div>
		<div class='col-sm-5 col-md-4 col-lg-2'>
			<div class='card'>
				<img src="assets/images/size/belly.jpg">
			</div>
		</div>
		
		<div class='col-sm-5 col-md-4 col-lg-3'>
			<div class='card'>
				<img src="assets/images/size/belly.jpg">
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3'>
			<div class='card'>
				<img src="assets/images/size/belly.jpg">
			</div>
		</div>
		<div class='col-sm-5 col-md-4 col-lg-3'>
			<div class='card'>
				<img src="assets/images/size/belly.jpg">
			</div>
		</div>
	</div>
</div>
