<alert-bar [options]="options"></alert-bar>
<div class='row'>
  <ngx-loading [show]="loading"></ngx-loading>
	<div class= 'col-md-6 col-md-offset-3'>
		<div #alert class='alert'></div>
		<div class='content'>
			<h3>Welcome to LadRope</h3>
			<p>Please signin</p>

			<form [formGroup]="signinForm" (ngSubmit)="signin()">
				<div class="form-group pad">
            <h3>Are you a tailor?</h3>
              <div class='form-inline pad1'>
                <div class="radio">
                      <label><input type="radio" formControlName="isTailor" value=true >Yes</label>
                </div>
                <div class="radio">
                      <label><input type="radio" formControlName="isTailor" value= false >No</label>
                </div>
              </div>  
           			<label for="name">Email</label>
            		<input
              			type="email"
              			id="email"
              			placeholder='Enter your email'
              			formControlName="email"
              			class="form-control">
            		<span
              			*ngIf="!signinForm.get('email').valid && signinForm.get('email').touched"
              			class="help-block">Please enter a valid email</span>
              		
        		</div>
        		<div class="form-group pad">
            		<label for="price">Password</label>
            		<input
              			type='password'
              			id="password"
              			placeholder='Please enter your password'
              			formControlName="password"
              			class="form-control">
            			<span
              				*ngIf="!signinForm.get('password').valid && signinForm.get('password').touched"
              				class="help-block">Please enter your password</span>
        		</div>
        		<button class='btn btn-primary'>Signin</button>
			</form>

			<p class='question'>New to LadRope? please <span class='pointer' routerLink= '/signup'>signup here</span></p>
      <p>Forget password? <span class='pointer' routerLink='/reset-password'> click here to reset</span></p>
		</div>
	</div>

</div>
