.header {
    
    height: 100%;
    width: 100%;
    padding: 0px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fbackground.png?alt=media&token=bdcc9a9a-7d65-4421-8cbd-1ebad55a6648);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-right: 30px;
    padding-left: 0px;
    margin-top: -20px;
}


.header img {
    
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
}

.download {
    font-size: 3rem;
    font-weight: bold;
}

.carousel{
    height: 526px;
    width: 650px;
    margin: 10px auto;
}

.padding {
    margin: 0px;
    padding: 20px;
}

.left-image {
    margin-top: 0px
}

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.bespoke {
    margin-top: 20px
}

.header h1,
.header p,
.header button {
    
    margin-top: 5px;
}


.header .btn {
    
    border-radius: 0;
    margin: 15px auto;
}

.auto {
    margin: 0px auto;
}

@media(max-width:376px) {
    
    .header {
        
        padding: 10px;
        height: 100%;
    }
    
    .header img {
        
        width: 100%;
        height: 100%;
        margin: 0px 0 0 20px;
    }
    
    .header .btn { 
        font-size: 1rem;
        margin-left: 15px;
        font-weight: bold;
    }

    .left-image {
        margin-top: 0px !important;
        height: 100px;
        width: 120px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }
    .bespoke {
    }
   
}

@media(max-width: 602px){
    .header .btn { 
        font-size: 1.5rem;
        margin-left: 15px;
        font-weight: bold;
    }
}

@media(max-width: 321px){
    .header .btn { 
        font-size: 1rem;
        margin-left: 15px;
        font-weight: bold;
    }
}

@media(max-width: 800px) {
    .header {
        
        padding: 5px;
        height: 100%;
    }
    

    .left-image {
        margin-top: 0px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }

}



/*Get Started*/

.get_started {
    
    padding: 80px 0 80px;
    text-align: center;
}

.card {
    padding-top: 0px;
    height: 400px;
    margin: 10px 10px;
    max-width: 270px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px black;
    -webkit-box-shadow: 1px 2px 3px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 2px 3px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 2px 3px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome6+, iOS 5 */
}

.cards {
    padding-top: 20px;
    height: 350px;
    margin: 10px 10px;
    max-width: 270px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px black;
    -webkit-box-shadow: 1px 2px 3px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 2px 3px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 2px 3px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome6+, iOS 5 */
}

.get_started h2 {

    color: rgb(0,74,0);
    margin: 20px 0 20px;
}

.get_started h4 {
    
    color: rgb(0,74,0);
    margin: 20px 0 20px;
}


.get_started p {
    
    color: #737373;
    font-size: 2rem;
    padding-bottom: 40px;
}
.get_started .links {

    opacity: 1
}

.get_started .links:hover {

    opacity: 0.8;
}

.get_started i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .get_started {
        
        padding: 30px;
    }

     .carousel{
        height: 330px;
        width: 350px;
    }
}


/*shop*/

.pointer{
    cursor: pointer;
}

.shop {
    
    padding: 50px 0 80px;
    text-align: center;
    background-color: rgb(0,74,0);
}

.shop h2 {

    color: #fff;
    margin: 20px 0 20px;
}
.shop p {
    
    color: #fff;
    font-size: 2rem
}


@media(max-width:769px) {
    
    .shop {
        
        padding: 3px;
    }

    .card {
        margin: 15px auto;
    }
    
    .cards {
        margin: 15px auto;
    }
    
}


/*Testimonials*/

.testimonials {
    
    padding: 50px 0 80px;
    text-align: center;
}

.testimonials b,
.testimonials h2,
.testimonials h4 {
    
    color: rgb(0,74,0);
    text-align: center;
}


.testimonials p {
    
    color: #737373;
    font-size: 1.5rem
}

/*.testimonials img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
}*/


.testimonials i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.testimonials a:hover i {
    
    background-color: #709963;
}


/*SUPPORTED BY*/

.supports {
    
    padding: 50px 0 80px;
    background-color: rgb(0,74,0);
    text-align: center;
    color: #fff;
}

.support h2 {
    
    color: #5e5e5e;
}

.supports p {
    
    padding-bottom: 40px;
    font-size: 2rem
}

.supports img {
    
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.supports li {

    list-style: none;
    display: inline-block;

}

.supports img:hover  {
    
    opacity: 1;
    
}


/*CONTACT*/

.contact {
    
    padding: 50px 0 80px;
    text-align: center;
}

.contact p {
    
    padding-bottom: 10px;
    color: #737373;
    font-size: 2rem
}

.contact h2 {
    
    color: rgb(0,74,0);
    margin: 20px 0 20px;
}

.contact .input-group {
    
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: rgb(0,74,0);
    color: #fff;
}

.contact .btn:hover {
    
    background-color: #ededed !important;
    color: #fff !important;
}

.call-to-action {
    
    padding: 50px 0 80px;
    background-color: rgb(0,74,0);
    text-align: center;
    color: #fff;
}

.call-to-action img {
    cursor: pointer;
    margin: 40px auto;
    transition: all 500ms ease-in-out;
}

.img-card {
    margin-left: -8%;
    width: 116%;
    height: 65%;
}




