<alert-bar [options]="options"></alert-bar>
<div id="header" class="header">
     <div class="container">
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-4 wow bounceInLeft">
                <img src="assets/images/header/hand_with_phone.png" alt="">
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 wow bounceInRight">
                <img src="assets/images/header/bespoke.png" alt="">
                <img src="assets/images/header/fast_and_easy.png" alt="">
             </div>
         </div>
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 wow bounceInLeft">
             <div class='left-image'>
                <img src="assets/images/header/money_back_guarantee.png" alt="">
             </div>
             </div>
             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-2">
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 wow bounceInRight">
                <button class="btn btn-lg btn-green"><a href="" target="blank"></a>Download for IOS</button>
                <button class="btn btn-lg btn-green"><a href="https://drive.google.com/open?id=0B_wjwMzVIfivTWXp1aWp6QzVaRHM" target="blank">Download for Android</a></button>
             </div>
         </div>
     </div>
 </div>
  
<!---- End Header ---->
 
 <!--- Getting Started ---->
 
 <div id="get_started" class="get_started">
     <div class="container">
         <h2 class="wow fadeInUp">Get Started</h2>
         <p class="wow fadeInUp" data-wow-delay="0.4">Ladrope is simply shopping at your convenience</p>
         <div class="row">
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                 <a href="" target=""><img class='links img-responsive' src="assets/images/get_started/app_store.png" alt=""></a>
                 <a href="https://drive.google.com/open?id=0B_wjwMzVIfivTWXp1aWp6QzVaRHM" target="blank"><img class="links img-responsive " src="assets/images/get_started/play_store.png" alt=""></a>
                 <h4>Download App</h4>
                 <p>Download the mobile app</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                 <img src="assets/images/get_started/measurement.jpg" class='img-responsive' alt="">
                 <h4>Get Measured</h4>
                 <p>Get yourself measured utilizing the full powers of your phone camera</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                 <img src="assets/images/get_started/place_order.gif" class='img-responsive'  alt="">
                  <h4>Place an Order</h4>
                 <p>Select the design that best fits your style and place an order</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                 <img src="assets/images/get_started/delivery.jpg" class='img-responsive'  alt="">
                 <h4>Delivery</h4>
                 <p>We deliver at your doorstep on schedule</p>
             </div>
         </div>
     </div>
 </div>
  
<!---- End Getting Started ---->
 
<!----- Shop ------>

<div id="shop" class="shop">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp" (click)='goToShop()' class='pointer'>Shop</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">Get to select your choice of designs at your convenience </p>
            <div class='col-md-6 col-sm-8 col-xs-12 col-lg-5 col-sm-offset-2 col-md-offset-3'>
                <div class='carousel'>
                    <carousel [sources]="imageSources" [config]="config"></carousel>
                </div>
                <p class='pointer padding' (click)='goToShop()'>Visit shop</p>
            </div>
        </div>
    </div>
</div>
 
 <!--- End shop ---->
 
 <!--- Testimonials -->
 
 
<div id="testimonials" class="testimonials">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Testimonials</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">What our customers are saying...</p>
            <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s">
                <img src="assets/images/testimonials/testimonials1.png" class="img-circle" alt="">
                <h4>Kingsley John</h4>
                <p>Ladrope delivers perfectly and on time</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft"  data-wow-delay="1.6s">
                <img src="assets/images/testimonials/testimonials2.png" class="img-circle" alt="">
                <h4>Mercy Alifia</h4>
                <p>Larope links customers to the best tailors</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft"  data-wow-delay="1.2s">
                <img src="assets/images/testimonials/testimonials3.png" class="img-circle" alt="">
                <h4>Finbarr Agogo</h4>
                <p>Ladrope gives you the best at your convenience</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft" data-wow-delay = '0.8'>
                <img src="assets/images/testimonials/testimonials4.png" class="img-circle" alt="">
                <h4>Emmanuel Bassey</h4>
                <p>Ladrope makes fashion easy and delivery much easier</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
 
<!--- End testimonials ---->


<!--- Supported By ---->

<div id="support" class="supports">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Supported by</h2>
            <div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="2s">
                <li><img src="assets/images/support/support1.jpg" alt=""></li>
            </div>
            <div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="1.6s">
                <li><img src="assets/images/support/support2.png" alt=""></li>
            </div>
        </div>
    </div>
</div>
 
<!---- End Supported By ----->

<!--- Contact ------>

<div id="contact" class="contact" #target>
<form [formGroup]="contactForm" (ngSubmit)="contact()">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Contact Us</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">We cant wait to hear from you</p>
            
            <div class="col-lg-6 col-md-6">
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName='name' aria-describedby="sizing-addon1" placeholder="Full Name">
                    <span
                        *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
                        class="help-block">Please enter your name</span>
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName='email' aria-describedby="sizing-addon1" placeholder="Email Address">
                    <span
                        *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
                        class="help-block">Please enter a valid email</span>
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" formControlName='phone' aria-describedby="sizing-addon1" placeholder="Phone Number">
                    <span
                        *ngIf="!contactForm.get('phone').valid && contactForm.get('phone').touched"
                        class="help-block">Please enter a valid phone</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-group wow fadeInUp" data-wow-delay="2s">
                    <textarea name="" id="" cols="80" rows="6" formControlName='content' class="form-control"></textarea>
                    <span
                        *ngIf="!contactForm.get('content').valid && contactForm.get('content').touched"
                        class="help-block">Please enter your message</span>
                    
                </div>
                <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button>
            </div>
        </div>
    </div>
</form>
</div>
 
<app-footer></app-footer>
