.header {
    
    height: 100%;
    width: 100%;
    padding: 0px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fbackground.png?alt=media&token=bdcc9a9a-7d65-4421-8cbd-1ebad55a6648);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-right: 30px;
    padding-left: 0px;
}


.header img {
    
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
}

.carousel{
    height: 526px;
    width: 650px;
}

.padding {
    margin: 10px;
    padding: 20px;
    text-align: right;
}

.left-image {
    margin-top: -110px
}

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    
    margin-top: 5px;
}

.header .btn {
    
    border-radius: 0;
    margin-top: 5px;
    margin-right: 10px;
}


@media(max-width:365px) {
    
    .header {
        
        padding: 10px;
        height: 100%;
    }
    
    .header img {
        
        width: 100%;
        height: 100%;
        margin: 0px 0 0 20px;
    }
    
    .header .btn {
        
        font-size: 1rem;
        margin-top: 5px;
        font-weight: bold;
    }

    .left-image {
        margin-top: 0px !important;
        height: 100px;
        width: 120px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }

    .carousel{
        height: 330px;
        width: 350px;
    }
}

@media(max-width: 800px) {
    .header {
        
        padding: 5px;
        height: 100%;
    }
    
    .header .btn {
        
        font-size: 1rem;
        margin-left: 5px;
        margin-top: 5px;
        font-weight: bold;
    }

    .left-image {
        margin-top: -90px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }

}



/*SERVICES*/

.get_started {
    
    padding: 80px 0 80px;
    text-align: center;
}

.get_started h2 {

    color: rgb(0,74,0);
    margin: 20px 0 20px;
}

.get_started h4 {
    
    color: rgb(0,74,0);
    margin: 20px 0 20px;
}


.get_started p {
    
    color: #737373;
    font-size: 2rem;
    padding-bottom: 40px;
}
.get_started .links {

    opacity: 1
}

.get_started .links:hover {

    opacity: 0.8;
}

.get_started i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .get_started {
        
        padding: 30px;
    }
}


/*shop*/

.pointer{
    cursor: pointer;
}

.shop {
    
    padding: 50px 0 80px;
    text-align: center;
    background-color: rgb(0,74,0);
}

.shop h2 {

    color: #fff;
    margin: 20px 0 20px;
}
.shop p {
    
    color: #fff;
    font-size: 2rem
}

.shop p {
    
    padding-bottom: 40px;
}



@media(max-width:768px) {
    
    .shop {
        
        padding: 3px;
    }
    
    
}


/*Testimonials*/

.testimonials {
    
    padding: 50px 0 80px;
    text-align: center;
}

.testimonials b,
.testimonials h2,
.testimonials h4 {
    
    margin: 20px 0 20px;
    color: rgb(0,74,0);
    text-align: center;
}


.testimonials p {
    
    color: #737373;
    font-size: 2rem
}

.testimonials img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
}


.testimonials i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.testimonials a:hover i {
    
    background-color: #709963;
}


/*SUPPORTED BY*/

.supports {
    
    padding: 50px 0 80px;
    background-color: rgb(0,74,0);
    text-align: center;
    color: #fff;
}

.support h2 {
    
    color: #5e5e5e;
}

.supports p {
    
    padding-bottom: 40px;
    font-size: 2rem
}

.supports img {
    
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.supports li {

    list-style: none;
    display: inline-block;

}

.supports img:hover  {
    
    opacity: 1;
    
}


/*CONTACT*/

.contact {
    
    padding: 50px 0 80px;
    text-align: center;
}

.contact p {
    
    padding-bottom: 10px;
    color: #737373;
    font-size: 2rem
}

.contact h2 {
    
    color: rgb(0,74,0);
    margin: 20px 0 20px;
}

.contact .input-group {
    
    margin-bottom: 25px;
}

.contact .form-control {
    
    border-radius: 0 !important;
}

.contact span {
    
    border-radius: 0 !important;
}

.contact .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: rgb(0,74,0);
    color: #fff;
}

.contact .btn:hover {
    
    background-color: #ededed !important;
    color: #fff !important;
}