<div class='design'>
  <div *ngIf = '!cloths'> <p>You have not posted any designs, <span class='pointer' routerLink='../post'>go to post design</span> and start posting awesome products</p></div>
  <div *ngIf = 'isCloth'>
      <div><h3>Designs by you</h3></div>
      <div>
        <div class='list' *ngFor= ' let cloth of cloths'>
          <div class="card" >
          <div class='content'>
              <a class='pointer' (click)='select(cloth)'>
                <h4 >{{cloth.name}}</h4>
                <p >Number sold: {{cloth?.numSold}}</p>
                <p >Price: NGN{{cloth.price}}.00</p>
                <p>{{cloth.likes}} likes</p>
              </a>
            </div>
            <div class='thumbnail'>
              <img src="{{cloth.image1}}">
            </div>
          </div>
        </div>
      </div>
  </div>
	
</div>
	