.design{
	margin: 20px 20px;
}

.list {
	margin-top: 20px;
}

.content {
	float: right;
	width: 80%
}

.content p {
	line-height: 15px
}

p{
	margin: 0px
}

.card {
	width: 70%;
}

img {
	max-height: 140px
}

.pointer{
	cursor: pointer;
	color: rgb(0,74,0);
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .content{
    	margin-bottom: 5px;
    	width: 50%
    }

    .card {
    	width: 100%;
    }

    .content button {
    	padding: 0px;
    }
}







