<div class = 'container'>
<h3>Agreement with Tailors</h3>

<h4>Scope </h4>

<ol> 
	<li>
		Global Ladrope (“ladrope.com”) owns and operates a platform in Nigeria that allows Tailors to sell their products to the public over the internet. This platform is currently provided on the website www.ladrope.com, but may be provided on different websites or applications in the future.
	</li>
	<li>
		The Tailors will have the opportunity to sell their products on the Global Ladrope platform. Ladrope.com is entitled to accept purchases on behalf of the seller. The service provided by ladrope.com is limited to referring customers to the Tailors’ Designs and accepting orders and payments on their behalf.
	</li>
	<li>
		The Tailor authorizes ladrope.com to accept binding orders from customers on their behalf.
	</li>
	<li>
		Ladrope.com may carry out changes to the website or service, or suspend the service, without notice.
	</li>
</ol>	
<h4>Global Ladrope's Rights and Obligations </h4>
<ol>
	<li>
		The Tailor acknowledges that the relationship between customers and ladrope.com is governed by the privacy policy and the general terms and conditions, both available on the website.
	</li>
	<li>
		Ladrope.com will present on the website and mobile application the designs listed by the Tailor. The Tailor will be responsible for uploading their own designs on the website.
	</li>
	<li>
		Ladrope.com is authorized to accept binding sales on behalf of the Tailor and will be careful to pass order data on to the Tailor as well as technology allows.
	</li>
	<li>
		In order to maintain its reputation for quality and high standard of service, ladrope.com reserves the right to terminate the relationship with the Tailor if the Tailor repeatedly receives bad reviews or complaints, or fails to comply with our recommendations and agreement.
	</li>
</ol>
	
<h4>Tailors's Rights and Obligations</h4>
<ol>
	<li>
		The Tailor is obliged to provide all the information necessary when listing a design on ladrope.com. This should include but is not limited to, a detailed title, type, price, gender, production time (in days), design images with four (4) different views and a brief description. The Tailor must never knowingly deceive a potential customer by misrepresenting their design/s. The Tailor must notify ladrope.com of any changes to the detail of their listings while uploaded on the site.
	</li>
	<li>
		The Tailor guarantees that information listed on ladrope.com relating to his products satisfies all legal requirements, and in particular satisfies information requirements for consumer protection.
	</li>
	<li>
		The Tailor will be responsible for keeping an up-to-date inventory of all their products listed on ladrope.com.
	</li>
	<li>
		The Tailor guarantees that the information provided by him does not violate any third party's copyright.
	</li>
	<li>
		The Tailor will process orders with all reasonable care the moment receipt of confirmation of sale is received through ladrope.com via email and/or text message. The time indicated on their listing is binding and orders should be fulfilled within the stated production time. The Tailor is required to keep his advertised designs available to the best of his ability. Repeated stock-outs will result in the removal of the Tailor and all their designs from the Global Ladrope platform.
	</li>
	<li>
		If the Tailor cannot fulfill an order submitted to him, he must notify ladrope.com within one (1) day of receiving the order at the latest.
	</li>
	<li>
		The Tailor agrees to adhere to his designs as provided to ladrope.com and as described on their listing on the website. The Tailor guarantees that there are no ongoing criminal, bankruptcy or tax proceedings or other penalties outstanding in relation to the designs they are selling through the platform. The Tailor further guarantees to take great care to keep up-to-date his range of designs, stock count, prices and associated terms and conditions.
	</li>
	<li>
		The Tailor representative is to provide ladrope.com with contact details such as contact person, contact phone number, business name, business address; account details such as account name, account number and bank, when signing up on the website.
	</li>
</ol> 
<h4>Commission</h4>
<ol>
	<li>
		Ladrope.com will add ten percent (10%) of the Tailors’ price to the Tailors’ price to get the actual selling price for the customers. Where the ten percent (10%) is lower than One Thousand Naira (N1000), ladrope.com will just add One Thousand Naira (N1000) to the Tailors’ price to get the actual selling price for the customers.
	</li>
	<li>
		Ladrope.com reserves the right to adjust the percentage, providing suitable notice is served in advance to the Tailor. 
	</li>
	<li>
		Ladrope.com will give the Tailor adequate notice of any changes, in writing. This does not cover adjustments that constitute a material change of the contract terms, which would require an additional agreement on the change.
	</li>
</ol>
<h4>
	Customer Payment and Invoicing 
</h4>	
<ol>
	<li>
		For customer payment, ladrope.com collects the payment for the relevant order in Global Ladrope's name, and pays it out to the Tailor according to the invoicing agreement.
	</li>
	<li>
		Global Ladrope’s invoices may be delivered by email, online, or in person to the Tailor.
	</li>
	<li>
		Payments would be made by bank transfer or cross cheque payable to the ‘Tailor’.
	</li>
</ol>

<h4>Liability </h4>
<p>Laprope.com cannot guarantee that its service will be free from all malfunctions, but will exercise all reasonable care and skill to resolve any such case.</p>
<h4>Privacy </h4>
<p>Both parties are obliged to treat confidentially the content of this agreement, as well as all other information and data they acquire in connection with the partnership, and not use it for purposes outside the scope of this contract or pass it on to third parties. This obligation is in force for 1 year after the termination of the contract. Both parties are obliged to follow privacy laws and handle accordingly all data related to customers, suppliers and business partners.</p>
<h4>License </h4>
<ol>
	<li>
		Ladrope.com has the right to freely maintain the Tailors’ listing and its ranking on the website and mobile application. Ladrope.com offers customers the opportunity to give ratings and reviews of the Tailors’ designs on the website and mobile application, and has the right but not the obligation to publish these online and make them visible to all customers. Ladrope.com reserves the right to delete ratings and reviews.
	</li>
	<li>
		Ladrope.com may scan, transcribe, and publish online the Tailors’ listings, logos and other materials required. The Tailor grants to ladrope.com a royalty-free, perpetual, unrestricted license to use and distribute any materials provided by him, for the purpose of advertising Global Ladrope's service. In particular, this includes use in Google AdWords campaigns, domain name registrations and other online marketing and search engine optimization measures.
	</li>
</ol>

<h4>
	Terms and Termination 
</h4>	
<ol>
	<li>
		This agreement is valid as soon as the Tailor signs the contract, or fulfills an order referred by ladrope.com, and remains valid indefinitely, until termination by either party. Termination can occur at any time, with a period of notice of one month, in writing, by email. The revenues generated during this notice period are still subject to the partnership agreement. The right to immediate termination by either party for important cause remains unaffected.
	</li>
	<li>
		The right to immediate termination in particular covers the case where the Tailor repeatedly receives negative ratings and reviews on the website and mobile application, and when these are not obviously unjustified. Repeatedly providing misleading information or withholding information required to present the Tailors’ items,  is also grounds for immediate termination. Typos, mistakes and transmission errors are excluded from this, as long as they are not caused with intent or by gross negligence. Upload of designs not made by Tailor and repeated failure to deliver designs within the stated production time will also lead to immediate termination.
	</li>
</ol>

<h4>General</h4>

<ol>
	<li>
		If a single clause in this agreement is invalid, both parties will endeavor to replace the invalid clause by a valid one that reproduces as closely as possible the intended economic meaning of the invalid clause. The validity of the rest of the agreement remains unaffected. This applies in particular if the agreement is found to be incomplete.
	</li>
	<li>
		Ladrope.com reserves the right to modify his general terms and conditions without giving any justification. In that case, ladrope.com will give the Tailor adequate notice via email. The notice will contain advice on the right and period of objection to the changes, and on the consequences of leaving unexercised the right to object.
	</li>
	<li>
		The changed terms and conditions are considered agreed by the Tailor if he does not object to them in writing within two (2) weeks of receiving notice of the changes.
	</li>
	<li>
		Any terms and conditions of the Tailor are not part of this agreement unless ladrope.com expressly agrees to adhere to them in writing.
	</li>
</ol>
 
</div>
<app-footer></app-footer>
