<div class='detail'>
	<div class='row'>
		<div class='col-sm-9'>
			<div class='card'>
				<div class='row'>
					<div class='col-sm-5 image'>
						<div class='thumbnail'>
							<img src="{{tailor.logo}}">
						</div>
					</div>
					<div class='col-sm-5 title'>{{tailor.name}}</div>

					<button class='edit' routerLink= '../edit-detail'><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Details</button>
				</div>
			</div>
			<div class='card'>
				<div class='contact'>
					Contact Information
				</div>
				<div>
					<div>
						<h5>Name: {{tailor.displayName}} </h5>
					</div>
					<div>
						<h5>Address:  {{tailor.address}}</h5>
					</div>
					<div>
						<h5>Phone:  {{tailor.phone}}</h5>
					</div>
					<div>
						<h5>Email:  {{tailor.email}}</h5>
					</div>
				</div>
			</div>
			<div class='card'>
				<div class='contact'>
					Account Information
				</div>
				<div>
					<div>
						<h5> Bank Name: {{tailor.bank}} </h5>
					</div>
					<div>
						<h5>Account Name: {{tailor.accountname}}</h5>
					</div>
					<div>
						<h5>Account Number: {{tailor.account}}</h5>
					</div>
				</div>
			</div>
		</div>
			
	</div>
</div>
