<div class='detail'>
	<div class='row'>
		<div class='col-sm-9'>
			<div class='card'>
				<div class='row'>
					<div class='col-sm-5 image'>
						<div class='thumbnail'>
							<img src="assets/images/logo.jpg">
						</div>
					</div>
					<div class='col-sm-5 title'>Company Name</div>
				</div>
			</div>
			<div class='card'>
				<div class='contact'>
					Contact Information
				</div>
				<div>
					<div>
						<h5>Name: Contact Person </h5>
					</div>
					<div>
						<h5>Address: Contact Person</h5>
					</div>
					<div>
						<h5>Phone: Contact Person</h5>
					</div>
					<div>
						<h5>Email: Contact Person</h5>
					</div>
				</div>
			</div>
			<div class='card'>
				<div class='contact'>
					Account Information
				</div>
				<div>
					<div>
						<h5> Bank Name: Contact Person </h5>
					</div>
					<div>
						<h5>Account Number: Contact Person</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
