.tailor {
	width: 100%;
	height: 100%;
}

.content{
	margin-left: 220px;
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .content{
    	margin-left: 0px;
    }

    .sidebar{
    	display: none;
        transition: ease-in-out 2s;
    }
}

@media only screen and (min-width: 790px) {
	.row {
    	margin-left: 150px;
    }
}


@media only screen and (min-width: 1280px) {
	.row {
    	margin-left: 0px;
    }
}