<div class='order'>
<ul class='tabs'>
	<li (click)='pend()' [ngClass]="{'active': pending}">Pending Orders ({{pendingOrders.length}})</li>
	<li (click)='complete()' [ngClass]="{'active': completed}">Completed Orders ({{completedOrders.length}})</li>
	<li (click)='cancel()' [ngClass]="{'active': canceled}">Canceled Orders ({{canceledOrders.length}})</li>
</ul>

<div *ngIf='pending'>
  <div *ngIf = '!isPendingOrder'>
    <p class= 'story' >You don't have have any pending order</p>
  </div>
  <div *ngIf = 'isPendingOrder'>
    <div class='list' *ngFor = ' let order of pendingOrders'>
      <div class="card">
      
      <div class='content'>
          <a class='pointer' (click)='select(order)'>
            <h4 >{{order.name}}</h4>
            <p >Delivery date: {{order.tailorDate | date: 'dd/MM/yyyy'}}</p>
            <p >Price: NGN{{order.price}}.00</p>
            <p>Status: {{order.status}}</p>
          </a>
          <div class='action'>
            <button (click)='acceptOrder(order)' class='btn btn-success'>Accept</button>
            <button (click)='rejectOrder(order)' class='btn btn-danger'>Decline</button>
          </div>
        </div>
        <div class='thumbnail'>
          <img src="{{order.image1}}">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf='completed'>
  <div *ngIf = '!isCompletedOrder'>
    <p class= 'story'>You don't have have any completed order</p>
  </div>
  <div *ngIf = 'isCompletedOrder'>
    <div class='list' *ngFor = ' let order of completedOrders'>
      <div class="card">
      
      <div class='content'>
          <a class='pointer' (click)='select(order)'>
            <h4 >{{order.name}}</h4>
            <p >Delivery date: {{order.tailorDate | date: 'dd/MM/yyyy'}}</p>
            <p >Price: NGN{{order.price}}.00</p>
            <p>Status: {{order.status}}</p>
          </a>
        </div>
        <div class='thumbnail'>
          <img src="{{order.image1}}">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf='canceled'>
  <div *ngIf = '!isCanceledOrder'>
    <p class= 'story'>You don't have have any canceled order</p>
  </div>
  <div *ngIf = 'isCanceledOrder'>
    <div class='list' *ngFor = ' let order of canceledOrders'>
    	<div class="card">
    	
    	<div class='content'>
    			<a class='pointer' (click)='select(order)'>
            <h4 >{{order.name}}</h4>
            <p >Delivery date: {{order.tailorDate | date: 'dd/MM/yyyy'}}</p>
            <p >Price: NGN{{order.price}}.00</p>
            <p>Status: {{order.status}}</p>
          </a>
    		</div>
    		<div class='thumbnail'>
    			<img src="{{order.image1}}">
        </div>
    	</div>
    </div>
  </div>
</div>

</div>