<div class='container'>
<h3>Terms and Conditions</h3>


<h4>These Terms and Conditions form a contract between the customer (you) and Global Ladrope and apply to the ordering, purchase, fulfillment and delivery of goods from  www.ladrope.com.</h4>


<p>Please read these Terms and Conditions carefully before placing your order with us as these Terms and Conditions contain important information about the ordering, processing, fulfillment and delivery of goods, including limitations of liability.</p>


<p>If you do not understand these Terms and Conditions or if you have any questions, please contact our Customer Service Centre via our support@ladrope.com page and a representative will be happy to assist you.</p>


<h4>Definitions</h4>
<p> The following definitions are used in these Terms and Conditions:</p>

<ul>
	<li>
		<p>Working Day means a weekday in which trading banks are open for the transaction of banking business in Nigeria.</p>
	</li>
	<li>
		<p>Delivery Address means the address to which the Designs are to be delivered as stated on the Electronic Order form on the Website and Mobile Application.
		</p>
	</li>
	<li>
		<p>
			Delivery Agent means any nominated third party delivery or shipping company handling delivery for Ladrope.com.
		</p>
	</li>
	<li>
		<p>
			Designs means the items offered for sale, described or displayed on the Website and Mobile Application.
		</p>
	</li>
	<li>
		<p>
			Order means a request by you to purchase designs from Ladrope.com in accordance with these terms and conditions.
		</p>
	</li>
	<li>
		<p>
			Price means the purchase price of each design as specified on the Website and Mobile Application.
		</p>
	</li>
	<li>
		<p>
			Privacy Policy means the Ladrope.com Privacy Policy found on the Website.
		</p>
	</li>
	<li>
		<p>
			Website means https://www.ladrope.com.
		</p>
	</li>
	<li>
		<p>
			Website Terms means the terms and conditions governing your use of the Website, in addition to these Terms and Conditions.
		</p>
	</li>
	<li>
		<p>
			We or Us or Our or Ladrope.com means Global Ladrope. 

		</p>
	</li>
	<li>
		<p>
			You or Your means you as the purchaser of Designs from Ladrope.com pursuant to these Terms and Conditions.
		</p>
	</li>
</ul>
<h4>Compliance with Terms and Conditions</h4>
<ol>
	<li>
		You agree to be bound by these Terms and Conditions when you submit an Order.
	</li>
	<li>
		Each Order you submit will be a separate and binding agreement between you and Ladrope.com with respect to the Delivery of your Order, in accordance with these Terms and Conditions.
	</li>
	<li>
		Placing Orders for Designs:
		<ul>
			<li>
				You may place an Order through the Website or the Mobile Application by submitting the electronic Order form on both the Website and Mobile Application.
			</li>
			<li>
				An Order successfully submitted by you on the Website or Mobile Application is an offer to purchase Designs for the Price as specified at the time you submit your Order. That offer cannot be withdrawn by you without our consent.
			</li>
			<li>
				In completing the electronic Order form, you agree to provide complete and accurate information as to your Personal Details to enable the processing and delivery of your Order. This information will also be used by the Delivery Agent to fulfil your Order. Ladrope.com will not be liable to you for your loss or that of any third party for a delay or failure to process, fulfil or deliver Designs to you due to inaccurate or incomplete personal details provided in respect of an Order by you.
			</li>
			<li>
				You may Order from Ladrope.com if you are aged 13 years and above, have an active email account and a telephone number at which you can be easily contacted.
			</li>
			<li>
				You must check your Order carefully prior to submitting your Order with us. Once you submit an Order, cancellations of your Order or changes to the Designs in your Order may only be made by agreement unless otherwise required by law. However, we will allow you to return Designs in accordance with the Terms and Conditions.
			</li>
			<li>
				Where you place consecutive or separate Orders for Designs, we cannot consolidate the Orders into one. 
			</li>
			<li>
				You will be provided with an automatic Order number upon submission of your Order to the Website or Mobile Application. The Order number is required when contacting our Support Service.
			</li>
		</ul>
	</li>
	<li>
		Acceptance and Rejection of Orders
		<ul>
			<li>
				Ladrope.com reserve the right to accept or reject your Order for any reason at any time.
			</li>
			<li>
				When we accept an Order, it represents an agreement by Ladrope.com to supply you the Designs in accordance with the Terms and Conditions.
			</li>
			<li>
				In the event that we reject an Order, we will notify you of that rejection and the reason for rejection via email within five (5) Working Days after the placement of the Order. Ladrope.com will not be liable to you for your loss or that of any third party for the rejection of an Order.
			</li>
			<li>
				Where we reject an Order and your payment for the Designs has already been processed, we will refund any money paid to us in respect of that Order and make reasonable endeavors to process the refund within five (5) Working Days. The receipt of your refund will depend on the period of time it takes your financial institution to finalize the refund. Ladrope.com is not liable with respect to any loss, damage, cost, expense or injury you or any third party incur as a result of any delay in processing your refund.
			</li>
			<li>
				If we are unable to contact you in relation to your Order under these Terms and Conditions using the contact details you provide during the Order process after having made reasonable attempts to contact you, we will reject the Order.
			</li>
		</ul>
	</li>
	<li>
		Price and Payment:
		<ul>
			<li>
				The Price in respect of a Design is specified on the Website and Mobile Application.
			</li>
			<li>
				Unless otherwise stated, all Prices quoted are in Nigerian Naira (₦). Ladrope.com will not be responsible for extra charges on your credit or debit card from imposed by your financial institution.
			</li>
			<li>
				Ladrope.com reserves the right to change or alter Prices of Designs on the Website and Mobile Application without notice to you, unless you have already submitted an Order at a stipulated Price, in which case there will be no change or alteration in Pricing (provided your Order is not affected by a Pricing error).
			</li>
			<li>
				You can pay for your Designs by any of the methods specified on the Website and Mobile Application.
			</li>
			<li>
				You acknowledge and agree that any payment in respect of a Design must be cleared by Ladrope.com before Designs which are the subject of an Order are dispatched. If your payment cannot be processed, your Order will be rejected in accordance with these Terms and Conditions and you will be notified of this via email.
			</li>
			<li>
				In paying or attempting to pay for the Designs, you agree that you have not engaged in any fraudulent conduct or contravened any Law.
			</li>
			<li>
				You will receive a receipt by email once payment in respect of your Order has been processed.
			</li>
			<li>
				Ladrope.com uses an encrypted payment gateway and security certificate to secure payments. Whilst we take all reasonable precautions, we cannot guarantee the security of any transaction.
			</li>
		</ul>
	</li>
	<li>
		Delivery
		<ul>
			<li>
				Ladrope.com uses Delivery Agents to deliver your Designs. You agree to your details including your Delivery Address to be supplied to the Delivery Agent for the purpose of delivering your Designs.
			</li>
			<li>
				Delivery time frames may change from time to time due to unforeseen circumstances.
			</li>
			<li>
				Delivery of Designs will take place at the Delivery Address specified by you during the Order process.
			</li>
			<li>
				Upon delivery, you should inspect your Designs and check that the Designs delivered match your Order. If there is obvious damage to the Designs due to transit or Designs are missing from your Order, you must contact our Support Service by mailing us via the “Contact” section of this Website. If the Designs are not as Ordered, you may return the Designs to us. You must let us know about any damaged, missing and incorrect Designs as soon as possible.
			</li>
		</ul>
	</li>
	<li>
		Order Cancellations and Returns
		<ul>
			<li>
				Unless provided for under these Terms and Conditions, no cancellations or changes to Orders will be accepted, and the Designs will be delivered to the stated Delivery Address in accordance with these Terms and Conditions. Therefore, you should carefully check that your Order is accurate before you submit it to us.
			</li>
			<li>
				Where we reject or cancel your Order under these Terms and Conditions, we will refund the Price of the Designs to you in accordance with these Terms and Conditions. We will use reasonable endeavors to process your refund within five (5) Working Days. Your receipt of your refund will depend on the period of time it takes your financial institution to finalize the refund. Ladrope.com is not liable with respect to any loss you or any third party might suffer as a result of any delay in processing your refund.
			</li>
		</ul>
	</li>
	<li>
		Privacy
		<ul>
			<li>
				Personal Information, such as your contact details, that you provide to us during the Order process will be kept and used by us for the purpose of processing your Order in accordance with Ladrope.com’s Privacy Policy.
			</li>
		</ul>
	</li>
	<li>
		<p>Warranties you make to Ladrope.com</p>
		You represent and warrant to Ladrope.com that:
		<ul>
			<li>
				All information (including Personal Information) and data provided by you to us through the Website and Mobile Application is true, accurate, complete and up to date.
			</li>
			<li>
				Any nominated representative receiving the Designs on your behalf at the Delivery Address is duly authorized by you to do so.
			</li>
			<li>
				You are over the age of 12.
			</li>
			<li>
				In placing your Order, you have read and agree to these Terms and Conditions and complied with all Laws.
			</li>
		</ul>
	</li>
	<li>
		Ladrope.com’s liability to you
		<ul>
			<li>
				Subject to any rights you have under any consumer protection law which cannot be excluded, we will not be liable to you or any third party for any loss, damage, cost, expense or injury (including indirect loss such as loss of revenue, profits, anticipated savings, goodwill or business opportunity, injury to your reputation) in contract, tort, under statue or otherwise, howsoever caused including arising directly or indirectly from or in connection with any transaction (actual or contemplated) undertaken or attempted to be undertaken through our Website and Mobile Application.
			</li>
			<li>
				Subject to any rights you have under any consumer protection Law which cannot be excluded, Ladrope.com excludes, all implied terms and warranties whether statutory or otherwise, relating to our Website and Mobile Application or the subject matter of these Terms and Conditions. You are entitled to certain rights under consumer protection law that cannot be excluded.
			</li>
			<li>
				Our liability to you for loss or damage of any kind arising out of these Terms and Conditions will be reduced or limited to the extent (if any) that you cause or contribute to the loss or damage.
			</li>
		</ul>
	</li>
	<li>
		Termination
		<ul>
			<li>
				Ladrope.com reserves the right to, at their discretion, terminate your access to and use of the Website and Mobile application:
				<ol>
					<li>
						for convenience, at any time, upon provision of notice to you;
					</li>
					<li>
						immediately:
						<ul>
							<li>
								if Ladrope.com reasonably believes that you have breached these Terms and Conditions, and that breach is not capable of remedy; or
							</li>
							<li>
								if you have been provided with notice of the breach, and you have failed to remedy that breach within 14 days (where the breach is able to be remedied).
							</li>
						</ul>
					</li>
				</ol>
			</li>
		</ul>
	</li>
	<li>
		General
		<ul>
			<li>
				Ladrope.com reserves the right at all times to make changes to these Terms and Conditions. Any variations to these Terms and Conditions will take effect from posting on the Website and Mobile Application. The Terms and Conditions which apply at the time of Order are those that govern your relationship with Ladrope.com with respect to that Order.
			</li>
			<li>
				Ladrope.com may give notice to you by electronic mail. You may give notice to Ladrope.com by electronic mail to our Support Service via the “Contact” of this website.
			</li>
			<li>
				Any provision of these Terms and Conditions that is prohibited or unenforceable in any jurisdiction is ineffective as to that jurisdiction to the extent of the prohibition or unenforceability. That does not invalidate the remaining provisions of these Terms and Conditions nor affect the validity or enforceability of that provision in any other jurisdiction.
			</li>
			<li>
				A failure or delay by Ladrope.com to exercise a power or right under these Terms and Conditions does not constitute as a waiver of that power or right, and the exercise of a power or right by Ladrope.com does not preclude its future exercise or the exercise of any power or right.
			</li>
			<li>
				The Laws of Nigeria govern this agreement.
			</li>
		</ul>
	</li>
</ol>
<h4>Terms and conditions for the use of this Website</h4>
<p>These terms and conditions govern the use of https://www.ladrope.com ("this website") and, in conjunction with our Terms and Conditions for the Sale of designs, the purchase of any designs from it.
Acknowledgment and Acceptance</p>
<p>By accessing, using or browsing this website, you agree that your access to, and use of, this site is subject to these terms and all applicable laws, and is at your own risk. We may amend or update these terms and conditions at any time by posting any changes at this website, without providing notice to you.</p>

<h5>Copyright and Trade Marks</h5>
<p>Copyright in this website and its content is owned or licensed by Global Ladrope (“Ladrope.com”). You may view this site and its contents using your web browser and electronically copy and print hard copies of parts of this site solely for personal, non-commercial use. Except as permitted by the Copyright Act 1968 or other applicable laws, any other use, including any commercial use of the content of this site, is strictly prohibited.</p>
<p>This website also contains registered trademarks and trademarks which are otherwise protected by law. Except as expressly authorised, the use or misuse of any of these trademarks is strictly prohibited.</p>
<h5>Disclaimer</h5>
<p>The information contained on this website is provided by Ladrope.com in good faith. To the best of Ladrope.com's knowledge, the information is accurate and current. However, this site and its contents are provided to you on "as is" basis. The site may contain errors, faults and inaccuracies and may not be complete and current.</p>
<p>Global Ladrope and its related bodies corporate, and their directors, officers, employees, or agents ("Ladrope.com Associates") make no representations or warranties of any kind, express or implied, as to the operation of this site or the information, content, materials or products included on this site, except as otherwise provided, and then only to the minimum extent required, under any applicable laws.</p>
<p>Limitation of Liability</p>
<p>Subject to any non-excludable liability implied by legislation, any liability of Ladrope.com or Ladrope.com's</p>
<p>Associates in connection with designs or services supplied to you will, at the election of Ladrope.com, be limited to:</p>
<ul>
	<li>
		In relation to designs, the replacement or repair of the designs, the supply of equivalent designs, the payment of the cost of replacing or repairing the designs or the payment of the cost of obtaining equivalent designs; and
	</li>
	<li>
		In relation to services, the supply of the services again or the payment of the cost of having the services supplied again.
	</li>
	<li>
		Subject to non-excludable liability (including under consumer laws), in all other respects, Ladrope.com will not be liable to you or any other person for any direct, indirect, incidental, special, consequential, punitive or exemplary damages, including but not limited to damages for loss of profits, business interruption or the loss of data or information, or damages for product liability, personal injury or negligence resulting from use of designs or services supplied to you, or on behalf of you, through this website.
	</li>
</ul>            
<h5>Virus Warning</h5>
<p>All care is taken to ensure that this website and data transmissions are free from viruses. However Ladrope.com cannot guarantee that any file or program available for download and/or execution from or via this site is free from viruses or other conditions which could damage or interfere with data, hardware or software with which it might be used. it is your responsibility to scan any such data for viruses. You assume all risk of use of all programs and files on this site, and you release Ladrope.com entirely of all responsibility for any consequences of its use.</p>

<h5>Use of Cookies</h5>
<p>Cookies are small pieces of information that your browser stores on your computer hard drive.</p>
<p>We use cookies to provide you site usage information as well as to assist us to improve and develop the products and services we offer. Our cookies do not contain any personal identifiable information.</p>
<p>If you disable cookies on your web browser, you may not be able to fully experience all features of this website.</p>
<h5>Third Party Sites</h5>
<p>This site may contain links to third party sites. Ladrope.com are not responsible for the condition or content of those sites as they are not under Ladrope.com's control. You access those sites and/or use the site's products and services solely at your own risk. The links are provided solely for your convenience and do not indicate, expressly, an endorsement by Ladrope.com of the sites or the products or services provided on the site.
Ladrope.com do not permit any linkages to this site without prior permission.</p>
<h4>Applicable Law</h4>
<p>These Terms and Conditions are governed by the laws in force in Nigeria and you irrevocably and unconditionally submit to the non-exclusive jurisdiction of the Supreme Court, Nigeria and any Courts which may hear appeals from those Courts.
This site may be accessed from Nigeria or overseas. Ladrope.com make no representations that the content of this site complies with the laws (including intellectual property laws) of any country outside Nigeria. If you access this site from outside Nigeria, you do so at your own risk and are responsible for complying with the laws in the place where you access the site.</p>
<h5>User Submissions</h5>
<p>By accessing, browsing, using, registering or contributing to the Ladrope.com’s website and any other area of our website where you can post submissions or reviews or ask questions you confirm that you have read, understood and agree to the following terms. If you do not agree to these terms in their entirety, you must not use this website.</p>
<h5>Ownership of Submissions</h5>
<p>Other than personal data which is subject to our Privacy Policy all comments, blogs, feedback, suggestions, questions, ideas, artwork, images, product or marketing ideas and any other submissions disclosed, submitted or offered to Ladrope.com on or through the website or otherwise disclosed, submitted or offered by you (collectively, "Submissions") shall become and remain the property of Ladrope.com once submitted. You must comply with the content standards set out in these terms. You warrant that you own or have the right to use any Submissions and that your Submissions will comply with these standards and guidelines.</p>
<h5>Social Networking Sites</h5>
<p>These terms also govern any submissions you make on any Ladrope.com related third party website or page such as our Facebook page, Twitter, YouTube or other social networking site. All comments, images, videos and any other type of material posted on any third party social networking site do not necessarily reflect the opinions or ideas of Ladrope.com or its employees and Ladrope.com is not responsible for any such content. In any event, all material posted on any third party social networking site must comply with these terms and the third party social networking sites terms of use, as applicable.</p>
<h5>Intellectual Property Rights</h5>
<p>A disclosure, submission or offer of any submissions and your agreement to these terms and conditions shall constitute an assignment to Ladrope.com of any intellectual property rights. Whenever you make use of a feature that allows you to upload material to our site, including questions, or to make contact with other users of our site or to make submissions on any Ladrope.com related third party website or page, you must comply with the content standards set out below and these terms. Any third-party advertising on Ladrope.com pages of third party social networking sites are not the responsibility of, or endorsed by, Ladrope.com. All rights, including copyright on Ladrope.com pages are owned by or licensed to Ladrope.com. Any use of any Ladrope.com social networking pages or their contents, including copying or storing them in whole or in part, other than for your own personal, non-commercial use is prohibited without the permission of Ladrope.com. All worldwide rights reserved.</p>
<h5>Confidentiality</h5>
<p>Any material you upload to our website will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any material in the Submissions for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site or any Ladrope.com related third party social networking site constitutes a violation of their intellectual property rights, or of their right to privacy. We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our website. We have the right to remove any Submissions you make on our website if, in our opinion, such Submission does not comply with the content standards set out below.</p>

<h5>Rules for Submissions</h5>
<ol>
	<li>
		Please be polite and only write in English.
	</li>
	<li>
		You confirm that the Submission is your own and that the content does not infringe the material, trademarks or intellectual property of others.
	</li>
	<li>
		If you require an immediate response from us or have a comment about our service please contact us directly for a quicker response.
	</li>
	<li>
		 Submissions should not include:
		 <ul>
		 	<li>
		 		profanity, blasphemy, spiteful, racist, sexually explicit, sexually gratuitous or discriminatory comments or content that might be considered to be harassment, abuse or threats against the personal safety or property of others.
		 	</li>
		 	<li>
		 		comments about other reviewers or bloggers.
		 	</li>
		 	<li>
		 		remarks that repeat criminal accusations, false, defamatory or misleading statements.
		 	</li>
		 	<li>
		 		material which impersonates others.
		 	</li>
		 	<li>
		 		spam or advertising, third party brand names or trade marks.
		 	</li>
		 	<li>
		 		HTML code, computer script or website URLs.
		 	</li>
		 	<li>
		 		information about Ladrope.com’ suppliers or manufacturers.
		 	</li>
		 </ul>
	</li>
	<li>
		Ladrope.com, in its absolute discretion, reserve the right to:
		<ul>
			<li>
				not publish the Submission or remove it.
			</li>
			<li>
				take any appropriate action if deemed necessary.
			</li>
			<li>
				remove reviews which relate to seasonal products which are no longer in season.
			</li>
		</ul>
	</li>
</ol>
<p>
	Please let us know if you see any Submissions which do not comply with our rules.
</p>
</div>       

<app-footer></app-footer>




