<alert-bar [options]="options"></alert-bar>

<div class='post'>
<div><h3>Post a design</h3></div>
  <p>For best presentation on the app, please upload images with the same dimensions.</p>
	<form [formGroup]="postDesign" (ngSubmit)="onSubmit()" class='form-inline'>
	<div class='row pad'>
		<div class='col-md-3 col-sm-6'>
			<div class='upload'>
				<div class='image'>
					<div class='thumbnail'>
						<img src="https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fupload_placeholder.png?alt=media&token=cb306f5d-1104-4585-9254-e93827db9502" #imgfi>
					</div>
				</div>
        <div #f>
          <progress value="0" max="" #fi></progress>
				  <input type="file" name="" id='image1' (change)='uploadFirstImage($event)'>
        </div>
			</div>
		</div>
		<div class='col-md-3 col-sm-6'>
			<div class='upload'>
				<div class='image'>
					<div class='thumbnail'>
						<img src="https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fupload_placeholder.png?alt=media&token=cb306f5d-1104-4585-9254-e93827db9502" #imgs>
					</div>
				</div>
				<div >
          <progress value="0" max="" #s></progress>
          <input type="file" name="" id='image1' (change)='uploadSecImage($event)'>
        </div>
			</div>
		</div>
		<div class='col-md-3 col-sm-6'>
			<div class='upload'>
				<div class='image'>
					<div class='thumbnail'>
						<img src="https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fupload_placeholder.png?alt=media&token=cb306f5d-1104-4585-9254-e93827db9502" #imgt>
					</div>
				</div>
				<div #h>
          <progress value="0" max="" #t></progress>
          <input type="file" name="" id='image1' (change)='uploadThirdImage($event)'>
        </div>
			</div>
		</div>
		<div class='col-md-3 col-sm-6'>
			<div class='upload'>
				<div class='image'>
					<div class='thumbnail'>
						<img src="https://firebasestorage.googleapis.com/v0/b/ladrope-9e888.appspot.com/o/assets%2Fupload_placeholder.png?alt=media&token=cb306f5d-1104-4585-9254-e93827db9502" #imgf>
					</div>
				</div>
				<div >
          <progress value="0" max="" #ft></progress>
          <input type="file" name="" id='image1' (change)='uploadFourthImage($event)'>
        </div>
			</div>
		</div>
	</div>

	<div class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 card">
        <div class="form-group pad">
           	<label for="name">Name</label>
            <input
              type="text"
              id="name"
              placeholder='Whats the name of this design'
              formControlName="name"
              class="form-control">
            <span
              *ngIf="!postDesign.get('name').valid && postDesign.get('name').touched"
              class="help-block">
              <span *ngIf="postDesign.get('name').errors['required']">This field is required!</span>

            </span>
        </div>
        <div class="form-group pad">
            <label for="price">Price</label>
            <input
              type='number'
              id="price"
              placeholder='How much are you selling'
              formControlName="price"
              class="form-control">
            <span
              *ngIf="!postDesign.get('price').valid && postDesign.get('price').touched"
              class="help-block">Please enter a valid amount!</span>
        </div>
        <div class="form-group pad">
            <label for="price">Selling Price</label>
            
              <p>NGN{{getSellingPrice(postDesign.value.price)}}.00</p>
             
        </div>
        <div class="form-group pad">
            <label for="time">Production Time (days)</label>
            <input
              type='number'
              id="time"
              placeholder='How long is it going to take to make this design'
              formControlName="time"
              class="form-control">
            <span
              *ngIf="!postDesign.get('time').valid && postDesign.get('time').touched"
              class="help-block">Please enter a valid number of days!</span>
        </div>
        <div class="pad form-group">
          <label for="gender">Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <input
              type="radio"
              name='gender'
              formControlName="gender"
              [value]="gender">   {{ gender }}
          </div>
        </div>
       <div class='form-group'>
        <label>Type</label>
              <select formControlName="tags">
                    <option value="casuals">Casual Wears</option>
                     <option value="corporate">Corporate Wears</option>
                     <option value="native">Traditional Wears</option>
                     <option value="shirt">Shirts</option>
                     <option value="trousers">Trousers</option>
                     <option value="gown">Gown</option>
                     <option value="wedding">Wedding Outfits</option>
                     <option value="ankara">Ankara</option>
                     <option value="suit">Suits</option>
              </select>
      </div>
        <span
          *ngIf="!postDesign.valid && postDesign.touched"
          class="help-block">Please enter valid data!</span>
        <div class="form-group pad">
            <label for="name">Description</label>
            <textarea
              rows="4" cols="50"
              type="text"
              id="name"
              placeholder='Tell people about your design, what material is it made of? What occasionis it best suited for? etc'
              formControlName="description"
              class="form-control"></textarea>
            <span
              *ngIf="!postDesign.get('name').valid && postDesign.get('name').touched"
              class="help-block">
              <span *ngIf="postDesign.get('name').errors['required']">This field is required!</span>

            </span>
        </div>
        <div *ngIf= 'option[0]'>
          <p>Available Options</p>
          <div class='space' *ngFor = 'let opt of option'>
            <div class='options'>
              <div class=thumbnail>
                <img src="{{opt?.image}}">
                  <h4>{{opt.name}}</h4>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf='isOptions' class='space'>
          
            <div class='form-group pad'>
              <div>
                <h5>You can add options of same design</h5>
                <label for="optionsName">Name of options</label>
                <input type="text" 
                        id='optionsName'
                        formControlName = 'optionsName'
                        placeholder="eg. name of color ">
                <progress value="0" max="" #optImg></progress>
                <input type="file"  (change)='uploadOptionImage($event)'>
              </div>
            </div>
         
        </div>
        <div class='space'>
          <p>Is there options you would want to present?</p>
          <button class='btn btn-primary' type='button' (click)='addOption()'>Add Options</button>
          <button class='btn btn-primary' type='button' (click)='clearOption()'>Clear Options</button>
        </div>
        <div class='space'>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
      </div>

    </form>
</div>
