.content {
	text-align: center;
	border: 1px #e5e5e5 solid;
	background-color: white;
	padding: 30px;
	margin: 30px;
	color: rgb(0,74,0);

}

.btn-primary {
	background-color: rgb(0,74,0);
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: none;
}

.pad1{
	padding: 10px;
}

input[type='radio']:checked:after {
  background-color: rgb(0,74,0);
}

.agree{
	color: rgb(0,74,0);
}