.filter{
	background-color: white;
	width: 250px;
	padding: 20px;
	position: fixed;
	margin-left: 10px;
	transition: 1s ease-in-out;
}


.row{
	margin-top: 20px;
}

.btn{
	background-color: rgb(0,74,0);
	color: white;
}

.advert {
	padding-top: 50px;
}

.card {
	padding: 20px;
	background-color: white;
	color: rgb(0,74,0);
	text-align: center;
	width: 50%;
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .filter{
    	z-index: 50;
    	display: none;
    	overflow: hidden;
    }


}

@media only screen and (min-width: 790px) {
	.row {
    	margin-left: 150px;
    }
}


@media only screen and (min-width: 1280px) {
	.row {
    	margin-left: 0px;
    }
}

