<alert class='flash'></alert>
<ngx-loading [show]="loading"></ngx-loading>
<div class='row'>

	<div class= 'col-md-6 col-md-offset-3'>
		<div #alert class='alert'></div>
    <div #alert1 class='alert'></div>
		<div class='content'>
			<h3>Welcome to LadRope</h3>
			<p>Reset Password</p>

			<form [formGroup]="signinForm" (ngSubmit)="signin()">
				<div class="form-group pad">
           			<label for="name">Email</label>
            		<input
              			type="email"
              			id="email"
              			placeholder='Enter your email'
              			formControlName="email"
              			class="form-control">
            		<span
              			*ngIf="!signinForm.get('email').valid && signinForm.get('email').touched"
              			class="help-block">Please enter a valid email</span>
              		
        		</div>
        		<button class='btn btn-primary'>Reset Password</button>
			</form>

			<p class='question'>New to LadRope? please <span class='pointer' routerLink= '/signup'>signup here</span></p>
		</div>
	</div>

</div>